<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bienvenue sur ma première page</title>
</head>
<body>
    <h1>Hello {{ name }} !</h1>
    <p>
        Visitez donc la page <a href="{{ url }}">{{ url }}</a> !<br />

        Ou bien celle-ci :
        <a href="{{ path('oc_advert_view_slug', {'year': 2014, 'slug': 'ma_super_annonce_qui_dechire'}) }}">
            {{ path('oc_advert_view_slug', {'year': 2014, 'slug': 'ma_super_annonce_qui_dechire'}) }}
        </a>
    </p>
    <p>
        Ou parlez-en à vos amis => <a href="{{ abs_url }}">{{ abs_url }}</a><br />
        Rendez-vous ici : <a href="{{ url('oc_advert_add') }}">clique !</a>
    </p>
    <p>
        <em>Vous êtes sur la page {{ page }}</em>
    </p>
</body>
</html>